<%= link_to "Spider ID", root_path, :class => 'brand' %>
<ul class="nav pull-right">
  <div class="dropdown">
    <div class="btn-group">
      <button class="btn btn-default btn-small dropdown-toggle" type="button" data-toggle="dropdown">
        <%= image_tag ApplicationHelper::LOGO, :class => 'logo' %>
      </button>
      <ul class="dropdown-menu">
        <% if @how_to_search %>
          <li><a href="javascript:spider.toggleElement('#how_to_search');">How to use?</a></li>
        <% else %>
          <li><a href="/">Search</a></li>
        <% end %>
        <li class="divider"></li>
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li>
          <%= link_to('Edit account', edit_user_registration_path) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Sign up', new_user_registration_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
<!--
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag ApplicationHelper::LOGO, :class => 'logo' %></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      
    </ul>
-->
  </div>

</ul>